.new{
    padding-top: 40px;
    padding-bottom: 40px;
}
.top{
    border-bottom: 1px solid gray;
    margin-bottom: 34px;
}
.top h4{
    color:rgb(165, 128, 5);
    font-size: 40px;
    display: block;
    padding: 0;
    margin: 0;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.bottom .widjet .image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    position: relative;
}
.bottom .widjet .image:after{
    content: "";
    width: 250%;
    height: 250%;
    background: rgba(240, 156, 0, 0.385);
    position: absolute;
    top:-40%;
    transform:rotate(-30deg);
    left:-300%;
    z-index: 3;
}
.bottom .widjet .image:hover:after{
    left:0;
    transition: .8s ease;
}
.bottom .widjet h2{
    font-size: 24px;
    font-weight: bold;
    color:#000;
    text-align:center;
}
.content{
    position: absolute;
    top:30%;
    left:20%;
    z-index:10;
    text-align: center;
    display:none;
}
.bottom .widjet .image:hover .content{
    display: block;
}
.content .imgtg{
    width: 100px;
}
.content .imgtg img{
    width: 100%;
}
.content h4{
    color:#000;
}
.row{
    display:flex;
    align-items:center;
    overflow-x: scroll;
}