.search{
    background:#141414;

}
.search form{
    width: 100%;
    padding-top: 50px;
    padding-left: 40px;
    display:flex;
    align-items:center;
}
.search input[type=text]{
    outline: none;
    border:none;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color:#141414;
    margin-right: 20px;
}
.search button{
    outline: none;
    border: none;
    color:#fff;
    width: 150px;
    height: 30px;
    background-color:aqua;
    border-radius: 10px;
    font-weight: 700;
}
.search h1{
    color:#fff;
}
.rewrapper{
    
}
.rewrapper .results{
    display:flex;
}
.rewrapper .results h1{
    display: block;
}